MoviesProject/App_WebReferences/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllMovies">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMoviesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMoviesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovieRatingByMovieID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovieRatingByMovieIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMovieRatingByMovieIDResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommentsByMovie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommentsByMovieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommentsByMovieResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommentByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommentByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommentByIDResult" type="tns:Comment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Comment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CommentId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommentString" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MovieId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="movieId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rating" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRateResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="movieId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCommentResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllMoviesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMovies" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMovieRatingByMovieIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetMovieRatingByMovieID" />
  </wsdl:message>
  <wsdl:message name="GetMovieRatingByMovieIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetMovieRatingByMovieIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommentsByMovieSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommentsByMovie" />
  </wsdl:message>
  <wsdl:message name="GetCommentsByMovieSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommentsByMovieResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommentByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommentByID" />
  </wsdl:message>
  <wsdl:message name="GetCommentByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommentByIDResponse" />
  </wsdl:message>
  <wsdl:message name="AddRateSoapIn">
    <wsdl:part name="parameters" element="tns:AddRate" />
  </wsdl:message>
  <wsdl:message name="AddRateSoapOut">
    <wsdl:part name="parameters" element="tns:AddRateResponse" />
  </wsdl:message>
  <wsdl:message name="AddCommentSoapIn">
    <wsdl:part name="parameters" element="tns:AddComment" />
  </wsdl:message>
  <wsdl:message name="AddCommentSoapOut">
    <wsdl:part name="parameters" element="tns:AddCommentResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetAllMovies">
      <wsdl:input message="tns:GetAllMoviesSoapIn" />
      <wsdl:output message="tns:GetAllMoviesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMovieRatingByMovieID">
      <wsdl:input message="tns:GetMovieRatingByMovieIDSoapIn" />
      <wsdl:output message="tns:GetMovieRatingByMovieIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentsByMovie">
      <wsdl:input message="tns:GetCommentsByMovieSoapIn" />
      <wsdl:output message="tns:GetCommentsByMovieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentByID">
      <wsdl:input message="tns:GetCommentByIDSoapIn" />
      <wsdl:output message="tns:GetCommentByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRate">
      <wsdl:input message="tns:AddRateSoapIn" />
      <wsdl:output message="tns:AddRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <wsdl:input message="tns:AddCommentSoapIn" />
      <wsdl:output message="tns:AddCommentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://tempuri.org/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieRatingByMovieID">
      <soap:operation soapAction="http://tempuri.org/GetMovieRatingByMovieID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentsByMovie">
      <soap:operation soapAction="http://tempuri.org/GetCommentsByMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentByID">
      <soap:operation soapAction="http://tempuri.org/GetCommentByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRate">
      <soap:operation soapAction="http://tempuri.org/AddRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <soap:operation soapAction="http://tempuri.org/AddComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMovies">
      <soap12:operation soapAction="http://tempuri.org/GetAllMovies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieRatingByMovieID">
      <soap12:operation soapAction="http://tempuri.org/GetMovieRatingByMovieID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentsByMovie">
      <soap12:operation soapAction="http://tempuri.org/GetCommentsByMovie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentByID">
      <soap12:operation soapAction="http://tempuri.org/GetCommentByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRate">
      <soap12:operation soapAction="http://tempuri.org/AddRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <soap12:operation soapAction="http://tempuri.org/AddComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:10944/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:10944/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>